body {
    background-color: lightgray;
}

.wordbank {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
}

p {
    font-size: 53px;
    padding: 8px;
    margin-top: 17px;
}