body {
    background-color: lightgray;
}

.wordbank {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    margin-top: 429px;
}

p {
    font-size: 53px;
    padding: 9px;
}