body {
    background-color: lightgray;
}

.post-guesses {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.post {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 47px;
    padding-top: 120px;
}

/* h1 {
   display: flex;
   justify-content: center; 
   font-size: 43px;
}

.wordbank {
    border-top: 4px solid black;
    display: flex;
    justify-content: center;
    margin-top: 78px;
}

p {
    font-size: 53px;
    padding: 9px;
}