@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body, html {
    font-family: "Signika Negative", sans-serif;
    font-weight: 600; 
    margin: 0;
    padding: 0;
}

.top-container {
    display: flex;
    justify-content: space-around;
    height: 87vh;
}

.left-top {
    display: flex;
    align-items: center;
    position: relative;
}

.hangman {
    position: relative;
    margin-left: -139.5px;
    margin-bottom: 37px;
    color: white;
}

.string {
    font-size: 20px;
    transform: scale(1, 1.6);
    margin-left: 2px;
    margin-bottom: 43px;
}

.head {
    font-size: 14px;
    font-family: "Montserrat", sans-serif; 
    font-weight: lighter; 
    transform: scale(8, 10);
    margin-left: 22px;
    margin-bottom: 53.5px;
    position: relative;
} 

.body {
    font-size: 100px;
    font-weight: lighter;
    margin-left: -8px;
    transform: scale(1.1, 1.6);
    position: relative;
    z-index: 1;
}

.arms {
    font-weight: lighter;
    font-size: 100px;
    transform: scale(0.9, 1);
}    

.left-arm {
    transform: rotate(100deg);
    margin-top: -97px;
    margin-left: -166px;
}

.right-arm {
    transform: rotate(-100deg);
    margin-top: -244px;
    margin-right: -49px;
}    

.legs {
    font-weight: lighter;
    font-size: 90px; 
    transform: scale(1, 1.6);
}

.left-leg {
    transform: rotate(37deg);
    padding-top: 92px;
    margin-left: -9px;
}

.right-leg {
    transform: rotate(-37deg);
    margin-top: -128px;
    margin-left: 18px;
}

.right-top {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 13px;
}

h1 {
    font-size: 37px;
    text-align: center;
    padding-bottom: 7px;
}

.box {
    box-sizing: border-box;
    border-radius: 25px;
    width: 462px;
    border: 4px solid black;
    height: 535px;
    margin-bottom: 20px;
}

.letters {
    color: black;
    display: flex;
    flex-wrap: wrap;
    cursor: default;
    font-size: 33px;
    padding-left: 50px;
    padding-top: 0px;
}

.a-f {
    display: flex;
    letter-spacing: 46px;
}

.g-l {
    display: flex;
    letter-spacing: 49px;
}

.m-r {
    display: flex;
    letter-spacing: 44px;
}

.s-x {
    display: flex;
    letter-spacing: 45px;
}

.y-z {
    display: flex;
    letter-spacing: 46px;
}

#A:hover {
    color: rgb(33, 156, 239);
}

#B:hover {
    color: rgb(33, 156, 239);
}

#C:hover {
    color: rgb(33, 156, 239);
}

#D:hover {
    color: rgb(33, 156, 239);
}

#E:hover {
    color: rgb(33, 156, 239);
}

#F:hover {
    color: rgb(33, 156, 239);
}

#G:hover {
    color: rgb(33, 156, 239);
}

#H:hover {
    color: rgb(33, 156, 239);
}

#I:hover {
    color: rgb(33, 156, 239);
}

#J:hover {
    color: rgb(33, 156, 239);
}

#K:hover {
    color: rgb(33, 156, 239);
}

#L:hover {
    color: rgb(33, 156, 239);
}

#M:hover {
    color: rgb(33, 156, 239);
}

#N:hover {
    color: rgb(33, 156, 239);
}

#O:hover {
    color: rgb(33, 156, 239);
}

#P:hover {
    color: rgb(33, 156, 239);
}

#Q:hover {
    color: rgb(33, 156, 239);
}

#R:hover {
    color: rgb(33, 156, 239);
}

#S:hover {
    color: rgb(33, 156, 239);
}

#T:hover {
    color: rgb(33, 156, 239);
}

#U:hover {
    color: rgb(33, 156, 239);
}

#V:hover {
    color: rgb(33, 156, 239);
}

#W:hover {
    color: rgb(33, 156, 239);
}

#X:hover {
    color: rgb(33, 156, 239);
}

#Y:hover {
    color: rgb(33, 156, 239);
}

#Z:hover {
    color: rgb(33, 156, 239);
}

.bottom-container {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.zero {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.one {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.two {
    margin: 10px; 
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.three {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.four {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.five {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.six {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.seven {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.eight {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.nine {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.ten {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.eleven {
    margin: 10px;
    border-bottom: 5px solid white;
    width: 40px;
    text-align: center;
}

.modals {
    display: none;
    z-index: 1; 
    position: fixed;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.lose {
    border: 5px solid rgb(33, 156, 239);
    border-radius: 25px;
    background-color: white;
    text-align: center;
    width: 45%;
}

h2 {
    font-size: 30px;
    padding-bottom: 23px;
}

.underline {
    border-bottom: 3px solid black;
}

.play-again {
    padding-top: 0px;
    font-size: 26px;
}

.yes {
    background-color: rgb(146, 226, 163);
    border-radius: 8px;
    font-size: 21px;
    border: 3px solid black;
    font-weight: bold;
    padding: 10px;
    width: 30%;
}

.yes:hover {
    border: 3px solid rgb(146, 226, 163);
    background-color: black;
    color: rgb(146, 226, 163);
}

.no {
    background-color: rgb(240, 88, 72);
    border-radius: 8px;
    font-size: 21px;
    border: 3px solid black;
    font-weight: bold;
    padding: 10px;
    width: 30%;
}

.no:hover {
    border: 3px solid rgb(240, 88, 72);
    background-color: black;
    color: rgb(240, 88, 72);
}

.win {
    border: 5px solid rgb(33, 156, 239);
    border-radius: 25px;
    background-color: white;
    text-align: center;
    width: 45%;
}