@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

body {
    background-color: white;
}

.content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.main {
    display: block;
}

.play {
    display: flex;
    justify-content: center;
}

i {
    font-size: 37px;
}

i:hover {
    color: rgb(33, 156, 239);
}

p {
    font-size: 47px;
    padding: 7px;
    font-family: "Signika Negative", sans-serif;
    font-weight: 600;
}

.A {
    padding-top: 6.4px;
}