body {
    background-color: lightgray;
}

.play {
    display: flex;
    justify-content: center;
}

i {
    font-size: 37px;
    padding-top: 350px;
}

i:hover {
    color: rgb(33, 156, 239);
}

p {
    font-size: 47px;
    padding: 7px;
    text-decoration: underline;
}