<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/stickman.png">
    <link rel="stylesheet" href="/static/game.css">
    <title>Hangman</title>
</head>
<body>
    <div class="post-guesses">
        <div class="post">
            <img src="/static/images/post.png" alt="post" height="600">
        </div>
        <div>
            <h1>Guesses</h1>
            <div class="box"></div>
        </div>
    </div>
    <div class="test">{{test}}</div>
</body>
</html>