<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/stickman.png">
    <link rel="stylesheet" href="/static/game.css">
    <script src="/static/main.js"></script>
    <title>Hangman</title> 
</head>
<body>
    <div class="top-container">
        <div class="post">
            <img src="/static/images/post.png" alt="post" height="600">
        </div>
        <div class="hangman">
            <img class="head" src="/static/images/head.png" alt="head" height="125"> 
            <div class="body"></div>
            <div class="left-arm"></div>
            <div class="right-arm"></div>
            <div class="left-leg"></div>
            <div class="right-leg"></div>
        </div>
        <div>
            <form class="form" id="form">
                <h1 class="pick">Pick a letter: <h1>
                <input class="input" type="text" id="input" size="4"> 
                <button class="submit" type="submit" name="button">Submit</button> 
            </form>
            <h2>Guesses</h2>
            <div class="box">
                <div class="letters">
                    <p id="A">A</p>
                    <p id="B">B</p>
                    <p id="C">C</p>
                    <p id="D">D</p>
                    <p id="E">E</p>
                    <p id="F">F</p>
                    <p id="G">G</p>
                    <p id="H">H</p>
                    <p id="I">I</p>
                    <p id="J">J</p>
                    <p id="K">K</p>
                    <p id="L">L</p>
                    <p id="M">M</p>
                    <p id="N">N</p>
                    <p id="O">O</p>
                    <p id="P">P</p>
                    <p id="Q">Q</p>
                    <p id="R">R</p>
                    <p id="S">S</p>
                    <p id="T">T</p>
                    <p id="U">U</p>
                    <p id="V">V</p>
                    <p id="W">W</p>
                    <p id="X">X</p>
                    <p id="Y">Y</p>
                    <p id="Z">Z</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="word">{{word}}</div>
        <div class="underscores">{{underscores}}</div>
    </div>
    <div class="popup">
        <div class="">
            <a onclick="showWin()">Win Popup</a>
            <div class="pop" id="win-popup">
                <p>&#128513; Way to go! Play again?</p>
                <button class="yes" onclick="hideWin()">Yes</button>
                <button class="no" onclick="hideWin()">No</button>
            </div>
        </div>
        <div>
            <a onclick="showLose()">Lose Popup</a>
            <div class="pop" id="lose-popup">
                <p>&#128532; Aw, no! Play again?</p>
                <div class="popup-buttons">
                    <button class="yes" onclick="hideLose()">Yes</button>
                    <button class="no" onclick="hideLose()">No</button>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script> 
</body>
</html>

<!--
    1. Show hangman body part when incorrect letter picked
    2. Show letter above underscore when correct letter picked 
    3. Show alert when game over (win or loss), option to play again, blur background 
    4. Show letters in guesses box when picked 
    5. Submit button not working
-->