<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/stickman.png">
    <link rel="stylesheet" href="/static/game.css">
    <script src="/static/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Hangman</title>
</head>
<body>
    <div class="top-container">
        <div class="post">
            <img src="/static/images/post.png" alt="post" height="600">
        </div>
        <div class="hangman">
            <img id="head" class="head" src="/static/images/head.png" alt="head" height="125">
            <div class="body"></div>
            <div class="left-arm"></div>
            <div class="right-arm"></div>
            <div class="left-leg"></div>
            <div class="right-leg"></div>
        </div>
        <div>
            <form id="form" class="form">
                <h1 class="pick">Pick a letter: <h1>
                <input class="input" type="text" id="letter" size="4">
                <button type="submit" name="button">Submit</button>
            </form>
            <h2>Guesses</h2>
            <div class="box">
                <div class="letters">
                    <p id="A">A</p>
                    <p id="B">B</p>
                    <p id="C">C</p>
                    <p id="D">D</p>
                    <p id="E">E</p>
                    <p id="F">F</p>
                    <p id="G">G</p>
                    <p id="H">H</p>
                    <p id="I">I</p>
                    <p id="J">J</p>
                    <p id="K">K</p>
                    <p id="L">L</p>
                    <p id="M">M</p>
                    <p id="N">N</p>
                    <p id="O">O</p>
                    <p id="P">P</p>
                    <p id="Q">Q</p>
                    <p id="R">R</p>
                    <p id="S">S</p>
                    <p id="T">T</p>
                    <p id="U">U</p>
                    <p id="V">V</p>
                    <p id="W">W</p>
                    <p id="X">X</p>
                    <p id="Y">Y</p>
                    <p id="Z">Z</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="word">{{word}}</div>
        <div class="underscores">{{underscores}}</div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#form').on('submit',function(e){
                $.ajax({
                    data : {
                        letter : $('#letter').val(),
                    },
                    type : 'POST',
                    url : '/game'
                })
                .done(function(data){
                    let A = document.getElementById("A");
                    let B = document.getElementById("B");
                    let C = document.getElementById("C");
                    let D = document.getElementById("D");
                    let E = document.getElementById("E");
                    let F = document.getElementById("F");
                    let G = document.getElementById("G");
                    let H = document.getElementById("H");
                    let I = document.getElementById("I");
                    let J = document.getElementById("J");
                    let K = document.getElementById("K");
                    let L = document.getElementById("L");
                    let M = document.getElementById("M");
                    let N = document.getElementById("N");
                    let O = document.getElementById("O");
                    let P = document.getElementById("P");
                    let Q = document.getElementById("Q");
                    let R = document.getElementById("R");
                    let S = document.getElementById("S");
                    let T = document.getElementById("T");
                    let U = document.getElementById("U");
                    let V = document.getElementById("V");
                    let W = document.getElementById("W");
                    let X = document.getElementById("X");
                    let Y = document.getElementById("Y");
                    let Z = document.getElementById("Z");

                    pick =  $('#letter').val()

                    if (pick = A) {
                        A.style.color = "green";
                    } else if (pick = B){
                        B.style.color = "green";
                    } else if (pick = C){
                        C.style.color = "green";
                    } else if (pick = D){
                        D.style.color = "green";
                    } else if (pick = E){
                        E.style.color = "green";
                    } else if (pick = F){
                        F.style.color = "green";
                    } else if (pick = G){
                        G.style.color = "green";
                    } else if (pick = H){
                        H.style.color = "green";
                    } else if (pick = I){
                        I.style.color = "green";
                    } else if (pick = J){
                        J.style.color = "green";
                    } else if (pick = K){
                        K.style.color = "green";
                    } else if (pick = L){
                        L.style.color = "green";
                    } else if (pick = M){
                        M.style.color = "green";
                    } else if (pick = N){
                        N.style.color = "green";
                    } else if (pick = O){
                        O.style.color = "green";
                    } else if (pick = P){
                        P.style.color = "green";
                    } else if (pick = Q){
                        Q.style.color = "green";
                    } else if (pick = R){
                        R.style.color = "green";
                    } else if (pick = S){
                        S.style.color = "green";
                    } else if (pick = T){
                        T.style.color = "green";
                    } else if (pick = U){
                        U.style.color = "green";
                    } else if (pick = V){
                        V.style.color = "green";
                    } else if (pick = W){
                        W.style.color = "green";
                    } else if (pick = X){
                        X.style.color = "green";
                    } else if (pick = Y){
                        Y.style.color = "green";
                    } else {
                        Z.style.color = "green";
                    }
                });
                e.preventDefault();
            });
        });
    </script>
</body>
</html>