<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/eaeedff1d2.js" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>
    <title>Hangman</title>
</head>
<body>
    <div class="play">
        <i class="fa-solid fa-play" onclick="playGame()"></i>
        <div class="pl-y">
            <p><u>P</u></p>
            <p><u>L</u></p>
            <p class="A">_</p>
            <p><u>Y</u></p>
        </div>
    </div>
    <div class="stickman">
        <img src="/static/images/tip.png" alt="tip" height="250">
        <img src="/static/images/stickman.jpg" alt="stickman" height="180">
    </div>
</body>
</html>