<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>AJAX Sample</h1>
    <form id="form">
    <h2>First Name</h2>
    <input type="text" id="firstname">
    <h2>Last Name</h2>
    <input type="text" id="lastname">
    <button type="submit" name="button">Submit</button>
 </form>
<div id="output"></div>
<script>
$(document).ready(function() {
    $('#form').on('submit',function(e){
      $.ajax({
        data : {
          firstname : $('#firstname').val(),
          lastname : $('#lastname').val(),
        },
        type : 'POST',
        url : '/test'
      })
      .done(function(data){
        $('#output').text(data.output).show();
      });
      e.preventDefault();
    });
  });
  </script>
</body>
</html>