<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/thank-you.css">
    <script src="https://kit.fontawesome.com/eaeedff1d2.js" crossorigin="anonymous"></script>
    <script src="/static/mini-game.js"></script>
    <title>H_NGM_N</title>
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="phrase">
                <div class="thank">
                    <p><u>T</u></p>
                    <p><u>H</u></p>
                    <p class="A">A</p>
                    <p><u>N</u></p>
                    <p><u>K</u></p>
                </div>            
                <div class="you">
                    <p><u>Y</u></p>
                    <p><u>O</u></p>
                    <p><u>U</u></p>
                </div>
                <div class="for">
                    <p><u>F</u></p>
                    <p><u>O</u></p>
                    <p><u>R</u></p>
                </div>
                <div class="playing">
                    <p><u>P</u></p>
                    <p><u>L</u></p>
                    <p class="A">A</p>
                    <p><u>Y</u></p>
                    <p><u>I</u></p>
                    <p><u>N</u></p>
                    <p><u>G</u></p>
                </div>
            </div>
            <img id="character" src="/static/images/character.jpg" height="90" width="90">
        </div>
    </div>
</body>
</html>